#charts { text-align: center; }
#container-count-chart { float: right; }
#pie-chart { display: inline; }
#bar-chart { float: left; }

#chart-titles { text-align: center; }
#pie-chart-title { display: inline; }
#container-count-chart-title { float: right; }
#bar-chart-title { float: left; }
